node_modules/
uploads/
dist/
*.log

# Exclude large files
uploads/
node_modules/
*.mp4
*.mov
*.avi
*.mkv
*.wmv
*.flv
*.webm
*.m4v
*.3gp
*.ogv
*.ts
!src/**/*.ts
!migrations/**/*.ts
*.mts
*.m2ts
*.vob
*.asf
*.rm
*.rmvb
*.divx
*.xvid
*.mpg
*.mpeg
*.mpe
*.mp2
*.m1v
*.m4p
*.m4b
*.m4r
*.3g2
*.3gp2
*.3gpp
*.3gpp2
*.amv
*.bik
*.f4v
*.fla
*.flr
*.flx
*.gxf
*.m1s
*.m2p
*.m2t
*.m2ts
*.m2v
*.m4s
*.mj2
*.mjp
*.mjpeg
*.mjp2
*.mks
*.mk3d
*.mka
*.mkv
*.mod
*.moov
*.mov
*.mp4
*.mp4v
*.mpe
*.mpeg
*.mpeg4
*.mpg
*.mpg4
*.mpl
*.mpls
*.mts
*.mxf
*.mxg
*.nsv
*.nuv
*.ogg
*.ogm
*.ogv
*.ogx
*.ps
*.rec
*.rm
*.rmvb
*.rpl
*.thp
*.tod
*.tp
*.ts
*.tts
*.txd
*.vob
*.vro
*.webm
*.wm
*.wmv
*.wtv
*.xesc
